<div id="order-details">

<h2>Order Details</h2>

<h5>Order Number: <%= @order.id %></h5>
<h5>Ordered by: <%= current_user.email %></h5>
<h5>Order date: <%= @order.friendly_created_at %></h5>
<div id="div-line"></div>
<h5>Product ordered: <%= @product.name %></h5>

<img src="<%= @product.get_first_image%>" />
<div id="div-line"></div>


<h5>Quantity ordered: <%= @order.quantity %></h5>
<h5>Subtotal: <%= number_to_currency(@order.subtotal) %></h5>
<h5>Tax: <%= number_to_currency(@order.tax) %></h5>
<h5>Total: <%= number_to_currency(@order.total) %></h5>

</div>