<div id="order-show">

<h2>Order Details</h2>

  <div id="order-details">

    <h4>Order Number: <%= @order.id %></h4>
    <h4>Ordered by: <%= current_user.email %></h4>
    <h4>Order date: <%= @order.friendly_created_at %></h4>
    <div id="div-line"></div>

    <table>
      <tr>
        <td class="product-column" ><strong>Products Ordered</strong></td>
        <td class="quantity-column"><strong>Quantity</strong></td>
      </tr>
      <% @order.carted_products.each do |carted_product| %>
      <tr>
        <td class="product-column" id="product-column-value"><%= carted_product.product.name %></td>
        <td class="quantity-column" id="quantity-column-value"><%= carted_product.quantity %></td>
      </tr>
      <% end %>
    </table>


    <div id="div-line"></div>

    <h4>Subtotal: <%= number_to_currency(@order.subtotal) %></h4>
    <h4>Tax: <%= number_to_currency(@order.tax) %></h4>
    <h4>Total: <%= number_to_currency(@order.total) %></h4>

  </div>

</div>