<% if @product.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
 
    <ul>
    <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div id="edit-product">

  <h2>Edit your product</h2>

  <%= form_tag "/products/#{@product.id}", method: :patch do %>

  <div>
    <p class="label_tag"><%= label_tag "Name:" %></p>
     <%= text_field_tag :name, @product.name %>
  </div>

  <% @product.images.each do |image| %>

  <div>   
    <p class="label_tag"><%= label_tag "Image URL:" %></p>
     <%= text_field_tag :image, image.image_url %>
  </div>

  <% end %>

  <div>
    <p class="label_tag"><%= label_tag "Supplier:" %></p>
    <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Price:" %></p>
     <%= text_field_tag :price, @product.price %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Description:" %></p>
    <%= text_field_tag :description, @product.description %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Inventory:" %></p>
    <%= text_field_tag :inventory, @product.inventory %>
  </div>

  <div id="submit-new"><%= submit_tag "Update Product" %></div>

  <% end %>



<p id="edit-delete-button"><button id="delete_button_edit"><a data-confirm="Are you sure you want to delete product?" data-method="delete" href="/products/<%= @product.id%>" rel="nofollow">Delete Product</a></button></p>

</div>