<div id="index">

  <h2>Index of All Available Products</h2>

  <% @products.each do |product| %>
    
    <img src="<%= product.image %>"/>

    <h3><%= product.name %></h3>

    <a id="index-learn-more-button" href="/products/<%= product.id %>" class="btn btn-default btn-sm active" role="button">Learn More</a>

    <a id="index-edit-button" data-confirm="Are you sure you want to edit the product?" href="/products/<%= product.id %>/edit" class="btn btn-default btn-sm active" role="button">Edit</a>

    <a id="index-new-button" data-confirm="Create new product?" href="/products/new" role="button" class="btn btn-default btn-sm active">Add New Product</a>

    <a id="index-delete-button" data-confirm="Are you sure you want to delete product?" data-method="delete" href="/products/<%= product.id %>" rel="nofollow" role="button" class="btn btn-default btn-sm active">Delete</a>

    <div id="div-line"></div>

  <% end %>

</div>



