<div id="new-product">

  <h2>Add a new product</h2>

  <%= form_tag '/products', method: :post do %>

  <div>
    <p class="label_tag"><%= label_tag "Name:" %></p>
    <%= text_field_tag :name %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Image URL:" %></p>
    <%= text_field_tag :image %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Supplier:" %></p>
    <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
  </div> 

  <div>
    <p class="label_tag"><%= label_tag "Price:" %></p>
    <%= text_field_tag :price %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Description:" %></p>
    <%= text_field_tag :description %>
  </div>

  <div>
    <p class="label_tag"><%= label_tag "Inventory:" %></p>
    <%= text_field_tag :inventory %>
  </div>

  <div id="submit-new"><%= submit_tag "Submit" %></div>

  <% end %>

</div>


