<h1>West Wing Script Book For Sale</h1>
<p></p>

<div id="boxes">
   <% @products.each do |product| %>

  <div class="product_box">
    <div><a href="localhost:3000/"><%= product.name %>
    </div>

  </div>

   <% end %>
</div>

<div id="tables">

  <table>
    <thead>
      <th colspan="2">Product Information<br><br><img src="<%= @image %>"/></th>
    </thead>

    <tbody>
    
      <tr>
        <td class ="attribute"><strong>Name:</strong></td>
        <td ><div id="info"><%= @ww_book.name %></div></td>
      </tr>

      <tr>
        <td class ="attribute"><strong>Price:</strong></td>
        <td><div id="info"><%= @ww_book.price %></div></td>
      </tr>

      <tr>
        <td class ="attribute"><strong>Description:</strong></td>
        <td><div id="info"><%= @ww_book.description %></div></td>
      </tr>

    </tbody>

  </table>

</div>