<div id="show-product-details">

  <h2><%= @supplier.name %></h2>


  <p id="price">Email: <%= @supplier.email %></p>
  <p id="sales-tax">Phone: <%= @supplier.phone %></p>
  
<% if user_signed_in? && current_user.admin %>
  <p id="show-edit-delete">
  <a id="show-edit-button" data-confirm="Are you sure you want to edit the supplier?" href="/suppliers/<%= @supplier.id %>/edit" class="btn btn-default btn-sm active" role="button">Edit</a>

  <a id="show-delete-button" data-confirm="Are you sure you want to delete supplier?" data-method="delete" href="/suppliers/<%= @supplier.id %>" rel="nofollow" role="button" class="btn btn-default btn-sm active">Delete</a>
  </p>
<% end %>


</div>
